* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input {
  display: none;
}
html {
  font: normal 16px sans-serif;
  color: #555;
}
ul,
a,
nav,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav li {
  margin-left: 20px;
}
section {
  max-width: 1176px;
  margin: 0 auto;
}
.full_screen {
  max-width: auto;
}
.grid {
  display: grid;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  color: white;
}
.list p {
  padding: 10px 0;
}
.intro_text {
  text-align: center;
  max-width: 656px;
  margin: 118px auto 80px auto;
}
.intro_text p {
  padding-top: 20px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 40px;
}
header .header_menu_wrap {
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_menu_wrap .logo {
  width: 128px;
  height: 40px;
}
header .header_menu_wrap .header_menu li a {
  padding: 9px 28px;
  border-radius: 17px;
  color: white;
}
header .header_menu_wrap .header_menu li a:hover,
header .header_menu_wrap .header_menu li .download:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: white;
  color: black;
}
header .header_menu_wrap .header_menu li .download {
  background-color: white;
  color: black;
}
header .header_menu_wrap .header_menu:hover .download {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: transparent;
  color: white;
}
header .hamburger_menu {
  width: 20px;
  height: 2px;
  background-color: black;
}
header .backgroung_image {
  width: 1066px;
  height: 628px;
  position: absolute;
  right: -110px;
  z-index: 1;
}
header .content {
  max-width: 500px;
  margin-top: 150px;
  z-index: 1111;
}
header .content .subtitle {
  padding: 23px 0 24px 0;
  z-index: 1111;
}
header .content .button_wrap {
  margin: 40px 0;
}
header .content .button_wrap .button {
  margin-top: 40px;
  padding: 10px 32px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.opportunities .advantages {
  max-width: 1136px;
  padding: 120px 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  row-gap: 60px;
  border-bottom: 2px solid #eeeeee;
}
.opportunities .advantages .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.opportunities .advantages .card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
  min-width: 75px;
  height: 75px;
  border: 1px solid #eeeeee;
  background-color: #f7fafc;
  color: #f31f79;
  border-radius: 50%;
  font-size: 24px;
}
.opportunities .advantages .card .body_card {
  padding-left: 20px;
}
.opportunities .advantages .card .body_card p {
  padding-top: 20px;
}
.stranded {
  position: relative;
}
.stranded .background_image {
  position: absolute;
  width: 562px;
  height: 739px;
  background-position: center;
  background-size: cover;
  top: -180px;
  left: -40px;
}
.stranded .content {
  max-width: 512px;
  margin: 175px 44px 175px auto;
}
.stranded .content .subtitle {
  padding: 23px 0 59px 0;
}
.stranded .content .list .icon {
  color: #222222;
}
.screenshots {
  background-color: #f7fafc;
  max-width: 100%;
}
.screenshots .intro_text h2 {
  padding-top: 120px;
}
.screenshots .carusel_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 120px;
}
.screenshots #carousel {
  padding: 0 auto;
  width: 100%;
  max-width: 960px;
  height: 500px;
  position: relative;
  clear: both;
  overflow: hidden;
  background-color: #f7fafc;
  margin: 0 auto;
}
.screenshots #carousel img {
  visibility: hidden;
  /* hide images until carousel can handle them */
  cursor: pointer;
  max-width: 100%;
}
.screenshots #prev,
.screenshots #next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}
.screenshots #prev:hover,
.screenshots #next:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background: linear-gradient(to right, #fd712c 0%, #f21780 100%);
}
.package .cards_wrap {
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.package .cards_wrap .card {
  background-color: #f7fafc;
  margin-bottom: 120px;
}
.package .cards_wrap .card h4 {
  padding: 15px 0 18px 0;
}
.package .cards_wrap .card .price_box {
  width: 100%;
  height: 120px;
  background-image: url(/assets/img/bg_white.png);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 40px;
}
.package .cards_wrap .card .price_box h4 {
  position: relative;
  max-width: 109px;
  margin: 0 auto;
}
.package .cards_wrap .card .price_box h4 .dollar {
  left: -10px;
  position: absolute;
}
.package .cards_wrap .card .card_body > li {
  margin: 0 auto;
  border-bottom: 1px dashed #eeeeee;
  padding: 10px 0;
  max-width: 200px;
}
.package .cards_wrap .card .card_body :last-child {
  border-bottom: none;
}
.package .cards_wrap .card p {
  margin-top: 50px;
}
.package .cards_wrap .card .button_wrap {
  margin: 14px 0 40px 0;
}
.package .cards_wrap .card .button_wrap .buy {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 42px;
  width: 139px;
  height: 40px;
  border-radius: 20px;
  background: #ffffff;
  border: 2px solid #eeeeee;
}
.package .cards_wrap .card:hover {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.package .cards_wrap .card:hover .price_box {
  background-image: url(/assets/img/bg_gradient.png);
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
}
.package .cards_wrap .card:hover .buy {
  background: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
}
.video {
  position: relative;
  max-width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
}
.video .play {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  font-size: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  cursor: pointer;
}
.customers {
  max-width: 1320px;
}
.customers .slider_wrap {
  margin: 0 auto 120px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers .slider_wrap .slider {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1140px;
}
.customers .slider_wrap .slider .item {
  max-width: 360px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.customers .slider_wrap .slider .item p,
.customers .slider_wrap .slider .item div {
  padding: 40px 40px 0 40px;
}
.customers .slider_wrap .slider .item .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.customers .slider_wrap .slider .item .author .photo {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
}
.customers .slider_wrap .slider .item .author .author_name {
  padding: 0;
  margin: 20px auto 0 20px;
}
.customers .slider_wrap .slider > div:nth-child(odd) {
  background-color: #f7fafc;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.customers .slider_wrap .button_arrow {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: #777777;
  border: 1px solid #eeeeee;
}
.customers .slider_wrap .left {
  margin-right: 10px;
}
.customers .slider_wrap .right {
  margin-left: 10px;
}
.customers .slider_wrap .button_arrow:hover {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background: linear-gradient(to right, #fd712c 0%, #f21780 100%);
}
.giant_app_now {
  max-width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.giant_app_now .download_cards {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}
.giant_app_now .download_cards .card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 33px 0 33px 36px;
}
.giant_app_now .download_cards .card p {
  padding-left: 55px;
  padding-right: 20px;
}
.giant_app_now .download_cards .card .icon {
  width: 50px;
  height: 50px;
  color: #777;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.giant_app_now .download_cards .card:hover .icon {
  color: linear-gradient(to right, #fd712c 0%, #f21780 100%);
}
footer {
  background-color: #222222;
  padding: 80px 0;
}
footer .icons_wrap {
  margin: 0 auto;
  width: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .icons_wrap .icon {
  font-size: 18px;
  color: wheat;
}
footer .icons_wrap .icon:hover {
  color: #f31f79;
}
footer p {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 402px;
  text-align: center;
}
